*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color-one: #082032;
    --primary-color-two: #2c394b;
    --primary-color-three: #334756;
    --primary-color-fourth: #6e85b2;
    --white-color: #fff;
    --grey-color-one: #c0c0c0;
    --text-color-one: #1a202c;
    --text-color-two: #4a5568;

    --box-shadow: 0 5px 15px -5px var(--primary-color-fourth);
    --box-shadow-hover: 0 10px 20px -5px var(--primary-color-fourth);
}
body {
    background: #f7fafc;
    font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-one);
    font-weight: bold;
}
h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}
.img {
    width: 100%;
}
p {
    font-size: 1.25rem;
    line-height: 2rem;
}

a {
    text-decoration: none;
}

/************
BLOG CARDS 
*************/
.projects {
    max-width: 1200px; /** TODO **/
    margin: 0 auto;
}

.blog-section,
.section-center {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    margin-bottom: 2rem;
}
.post-cards {
    max-width: 920px;
    margin: 0 auto;
}

.cards {
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.article-img,
.project-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.icon.icon-link {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-size: 1.25rem 1.25rem;
}

@media screen and (min-width: 1024px) {
    .main-section {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 300px;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 1024px) {
    .section-center {
        display: grid;
        grid-template-columns: 1fr 300px;
        margin: 2rem auto;
    }
}

.article-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    max-width: 500px;
}

.btn {
    display: inline-block;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    color: white;
    background: var(--primary-color-two);
    transition: all 0.3s linear;
    min-width: 8rem;
}

.btn:hover,
.project-btn:hover {
    background: var(--primary-color-fourth);
    color: var(--white-color);
    transform: scale(1.01);
}
.page-description h3 {
    text-align: center;
}

.project-container {
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
